[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
black = "==19.3b0"
flake8 = "*"
invoke = "*"
requests = "*"

[requires]
python_version = "3.7"
